.register-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-family: Arial, serif;
    font-size: 18px;
    color: #fff;
    background-color: rgba(220, 224, 210, 0.906);
}

.registration-successful-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #282c34;
}

#already-registered-p {
    font-size: 17px;
    text-decoration: underline;
    color: rgb(254, 253, 253);
}

.login-button {
    font-size: 18px;
    border-radius: 0.5rem;
    background-color:#282c34;
    color: rgb(254, 252, 252);
    align-self: center;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.already-logged-in {
    padding-top: 10px;
}

.register-section {
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color:rgb(68, 109, 80);
    position: absolute;
    top: 80px;

}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 300px
}

.register-input,
.sign-up-button {
    font-size: 18px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.sign-up-button {
    background-color: rgb(213, 239, 211);
    color: black;
    padding: 0.5rem;
    cursor: pointer;
}

.register-label,
.sign-up-button {
    margin-top: 1rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #8a0000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0rem;
}

.line {
    display: inline-block;
}

@media (min-width: 890px) {

    /* STYLE FOR DESKTOP GOES HERE */
    #already-registered-p {
        font-size: 20px;
        text-decoration: underline;
        color: rgb(254, 253, 253);
    }

    .login-button {
        font-size: 20px;
        border-radius: 0.5rem;
        background-color:#282c34;
        color: rgb(254, 252, 252);
        align-self: center;
        cursor: pointer;
        width: 160px;
        height: 40px;
    }

    .already-logged-in {
        padding-top: 20px;
    }

    .register-section {
        width: 350px;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: rgb(68, 109, 80);
        position: absolute;
        top: 80px;
    }

    .register-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 400px;
    }

    .register-input,
    .sign-up-button {
        font-size: 22px;
        padding: 0.25rem;
        border-radius: 0.5rem;
    }


}