.posts {
    min-width: 33%;
    width: fit-content;
    margin:auto;
    text-align: center;
}

.posts h2{
    margin-left: 40px;
}

.create-post{
    border: 1px solid #eee6e6;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    list-style-type: none;
    margin: 20px 0;
}

.posts ul {
    list-style-type: none;
}
