.posts-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts {
    min-width: 33%;
    width: fit-content;
    text-align: center;
}

.posts h2{
margin-left: 40px;
}

.posts ul {
    list-style-type: none;
}
