.post {
    position: relative;
    border: 1px solid #eee6e6;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    list-style-type: none;
    margin: 20px;
}

.post div.button{
    position: absolute;
    margin: 8px;
    cursor: pointer;
}

.post div.button.edit{
    top:0;
    right:0;
}

.post div.button.save{
    bottom:0;
    right:0;
}

.post div.button.delete{
    bottom:0;
    left:0;

}


